@mixin mediaMd {
    @media screen and (min-width: 600px) and (max-width: 991px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin mediaXL {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

/* Tablets */
@include mediaMd {}

/* desktops and laptops */
@include mediaLg {
    .grid-container {
        display: grid;
        grid-template-columns: minmax(55%, 1fr) minmax(300px, 610px);
        grid-template-rows: 164px auto 20px;
    }

    .bg-image {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        background-image: url('../images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    header {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 65px 100px 0;

        .logo {
            width: 160px;
        }
    }

    .main-image {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }

    .content {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-content: flex-start;


        .main-content {
            text-align: left;
            align-self: flex-start;
            padding-top: 0;
            padding-left: 100px;
            max-width: 380px;


            p {
                text-align: left;
                line-height: 1.7rem;
            }

        }
    }

    .email-form {
        align-self: flex-start;
        margin-left: 100px;
        max-width: 380px;

    }

    footer {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        padding-top: 0;

        .attribution {
            padding-left: 100px;
            text-align: left;
        }
    }

}

/* large screens */
@include mediaXL {

    header {

        padding: 65px 160px 0;

        .logo {
            width: 160px;
        }
    }

    .content {

        .main-content {
            padding-top: 70px;
            padding-left: 160px;
            max-width: 450px;

            h1 {
                font-size: 4rem;
                font-weight: 400;
                line-height: 4.2rem;
                padding-bottom: 25px;

            }

            p {
                font-size: 1rem;
                text-align: left;
                line-height: 1.7rem;
            }

        }
    }

    .email-form {
        align-self: flex-start;
        margin-left: 160px;
        max-width: 445px;
        padding-bottom: 0px;

        .email {
            padding: 20px 30px;
            border-radius: 30px;
            width: 100%;
            font-size: 16px;
        }

        .error {
            padding: 19px 30px;
        }

        #submit-btn {

            padding: 18px 40px;
            border-radius: 30px;

        }

        #error-icon {
            position: absolute;
            padding: 16px 110px;
            right: 0px;
            top: 0px;
            visibility: hidden;
        }

        #error-msg {
            position: absolute;
            top: 70px;
            left: 30px;
            font-size: 13px;
            color: color(primary-softred);
        }

    }

    footer {
        padding-top: 0;

        .attribution {
            padding-left: 160px;
        }
    }
}