@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap");
* {
  margin: 0;
  padding: 0;
}

textarea,
select,
input,
button {
  outline: none;
}

body {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  background: linear-gradient(135deg, white, #fff5f5);
}

/* Typography */
h1 {
  font-size: 2.5rem;
  letter-spacing: .8rem;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #413a3a;
}

.highlight {
  font-weight: 300;
  color: #ce9797;
}

p {
  font-size: .85rem;
  line-height: 1.2rem;
  text-align: center;
  padding-bottom: 40px;
  color: #ce9797;
}

/* header */
header {
  padding: 30px;
}

header .logo {
  width: 100px;
}

/* main image section*/
.main-image img {
  width: 100%;
}

/* content section */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content {
  padding: 65px 0px 0;
  max-width: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

/* form */
.email-form {
  width: 80%;
  max-width: 300px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
}

.email-form .email {
  padding: 15px 25px;
  border: 1px solid #ce9797;
  border-radius: 25px;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  line-height: 0em;
  color: #ce9797;
  background: none;
}

.email-form #submit-btn {
  position: absolute;
  padding: 11px 30px;
  border: none;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border-radius: 25px;
  z-index: 2;
  right: 0px;
  top: 0px;
}

.email-form #submit-btn:hover {
  background: linear-gradient(135deg, #fad1d1, #f8bfbf);
  -webkit-box-shadow: 0 10px 10px #ce9797;
          box-shadow: 0 10px 10px #ce9797;
  -webkit-transition: .1s ease;
  transition: .1s ease;
}

.email-form .error {
  border: 2px solid #f96262;
  padding: 14px 25px;
}

.email-form #error-icon {
  position: absolute;
  padding: 10px 90px;
  right: 0px;
  top: 0px;
  visibility: hidden;
}

.email-form #error-msg {
  position: absolute;
  top: 55px;
  left: 25px;
  font-size: 12px;
  color: #f96262;
}

/* Footer */
footer {
  padding-top: 90px;
  height: 20px;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: #3e52a3;
}

/* Media Queries */
/* Tablets */
/* desktops and laptops */
@media screen and (min-width: 992px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(55%, 1fr) minmax(300px, 610px);
        grid-template-columns: minmax(55%, 1fr) minmax(300px, 610px);
    -ms-grid-rows: 164px auto 20px;
        grid-template-rows: 164px auto 20px;
  }
  .bg-image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    padding: 65px 100px 0;
  }
  header .logo {
    width: 160px;
  }
  .main-image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
  }
  .content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .content .main-content {
    text-align: left;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 0;
    padding-left: 100px;
    max-width: 380px;
  }
  .content .main-content p {
    text-align: left;
    line-height: 1.7rem;
  }
  .email-form {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 100px;
    max-width: 380px;
  }
  footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    padding-top: 0;
  }
  footer .attribution {
    padding-left: 100px;
    text-align: left;
  }
}

/* large screens */
@media screen and (min-width: 1200px) {
  header {
    padding: 65px 160px 0;
  }
  header .logo {
    width: 160px;
  }
  .content .main-content {
    padding-top: 70px;
    padding-left: 160px;
    max-width: 450px;
  }
  .content .main-content h1 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 4.2rem;
    padding-bottom: 25px;
  }
  .content .main-content p {
    font-size: 1rem;
    text-align: left;
    line-height: 1.7rem;
  }
  .email-form {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 160px;
    max-width: 445px;
    padding-bottom: 0px;
  }
  .email-form .email {
    padding: 20px 30px;
    border-radius: 30px;
    width: 100%;
    font-size: 16px;
  }
  .email-form .error {
    padding: 19px 30px;
  }
  .email-form #submit-btn {
    padding: 18px 40px;
    border-radius: 30px;
  }
  .email-form #error-icon {
    position: absolute;
    padding: 16px 110px;
    right: 0px;
    top: 0px;
    visibility: hidden;
  }
  .email-form #error-msg {
    position: absolute;
    top: 70px;
    left: 30px;
    font-size: 13px;
    color: #f96262;
  }
  footer {
    padding-top: 0;
  }
  footer .attribution {
    padding-left: 160px;
  }
}
/*# sourceMappingURL=main.css.map */