@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');
@import 'vars';


* {
    margin: 0;
    padding: 0;
}

textarea,
select,
input,
button {
    outline: none;
}

// removes default browser focus effect

body {
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

/* Typography */

h1 {
    font-size: 2.5rem;
    letter-spacing: .8rem;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: color(neutral-darkred);
}

.highlight {
    font-weight: 300;
    color: color(primary-red);
}


p {
    font-size: .85rem;
    line-height: 1.2rem;
    text-align: center;
    padding-bottom: 40px;
    color: color(primary-red);
}

/* header */

header {
    padding: 30px;

    .logo {
        width: 100px;
    }
}

/* main image section*/

.main-image {

    img {
        width: 100%;
    }
}

/* content section */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content {
    padding: 65px 0px 0;
    max-width: 300px;
    align-self: center;
    text-align: center;
}

/* form */

.email-form {
    width: 80%;
    max-width: 300px;
    align-self: center;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;


    .email {
        padding: 15px 25px;
        border: 1px solid color(primary-red);
        border-radius: 25px;
        width: 100%;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 12px;
        line-height: 0em;
        color: color(primary-red);
        background: none;
    }

    #submit-btn {
        position: absolute;
        padding: 11px 30px;
        border: none;
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        border-radius: 25px;
        z-index: 2;
        right: 0px;
        top: 0px;
    }

    #submit-btn:hover {
        background: linear-gradient(135deg, hsl(0, 80%, 90%), hsl(0, 80%, 86%));
        box-shadow: 0 10px 10px color(primary-red);
        transition: .1s ease;
    }

    .error {
        border: 2px solid color(primary-softred);
        padding: 14px 25px;
    }

    #error-icon {
        position: absolute;
        padding: 10px 90px;
        right: 0px;
        top: 0px;
        visibility: hidden;
    }

    #error-msg {
        position: absolute;
        top: 55px;
        left: 25px;
        font-size: 12px;
        color: color(primary-softred);
    }

}

/* Footer */

footer {
    padding-top: 90px;
    height: 20px;

    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}

/* Media Queries */

@import 'mixins';